.emptyWrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.emptyIcon {
    width: 405px;
    height: 360px;
    background-image: url(../../images//emptyPage.png);

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 200px;
}