.containerResetPassword {
  margin: auto;
  padding: 0 16px 0 16px;
  display: flex;
  width: 100%;
}

.mainResetPassword {
  margin: 100px auto 0 auto;
  width: 33%;
}

.formResetPassword {
  padding: 18px;
  background-color: #fff;
  border-radius: 4px;
}

.wrapperResetPassword {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.labelResetPassword {
  margin-bottom: 8px;
}

.inputResetPassword {
  padding: 18px;
}

.submitResetPassword {
  width: 100%;
  background-color: #7b61ff;
  border-radius: 2px;
  padding: 18px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
