.newInput {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 90px;
}

.ContainerDetailsMovie {
    width: 1150px;
    height: 1000px;

    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: green; */
}

.poster {
    margin-top: 30px;
}

.movieDetailsPoster {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
}

.BookmarkDetailsMovie {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: gainsboro;
    opacity: 0.85;
}

.allContent {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600px;
    color: #FFFFFF;
}

.titleDetailsMovie {
    margin: 0;
    margin-top: 10px;
}

.ratingDetailsMovie {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.imdbRating {
    width: 37px;
    height: 28px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin-top: 0;
    background-color: #00A340;
    color: #FFFFFF;
}

.runtime {
    width: 73px;
    height: 28px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    margin-top: 0;
    background-color: #323537;
    color: #FFFFFF;
}

.plot {
    width: 550px;
    height: 75px;
    margin-top: 10px;
}

.containerСategories {
    width: 550px;
    margin-top: 10px;
    font-weight: 500;
}

.allСategories {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

.description {
    width: 85px;
}

.detailsMovie {
    min-height: 24px;
    background-color: #7B61FF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
    margin-left: 100px;
}

p {
    margin-bottom: 0;
    font-weight: 500;
}


@media screen and (max-width: 1200px) {
    
    .ContainerDetailsMovie {
        width: 1100px;
        height: 700px;
    }
    
    .poster {
        margin-top: 30px;
    }
    
    .movieDetailsPoster {
        width: 250px;
        height: 250px;
    }
    
    .BookmarkDetailsMovie {
        width: 250px; 
    }
    
    .allContent {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 40px;
        font-size: 20px;
        font-weight: 600px;
        color: #FFFFFF;
    }
    
    .titleDetailsMovie {
        margin: 0;
        margin-top: 10px;
        font-size: 33px;
    }
    
    .ratingDetailsMovie {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }
    
    .imdbRating {
        width: 37px;
        height: 28px;  
    }
    
    .runtime {
        width: 73px;
        height: 28px;
    }
    
    .plot {
        width: 500px;
        height: 75px;
        font-size: 15px;
        margin-top: 10px;
    }
    
    .containerСategories {
        width: 500px;
        margin-top: 10px;
        font-weight: 500;
    }
    
    .allСategories {
        display: flex;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
    }
    
    .description {
        width: 85px;
    }
    
    .detailsMovie {
        min-height: 24px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 16px;
        margin-left: 100px;
    }

}

@media screen and (max-width: 992px) {

    .ContainerDetailsMovie {
        width: 800px;
        height: 700px;
    }
    
    .poster {
        margin-top: 30px;
    }
    
    .movieDetailsPoster {
        width: 200px;
        height: 200px;
    }
    
    .BookmarkDetailsMovie {
        width: 200px; 
    }
    
    .allContent {
        margin-top: 5px;
        margin-left: 30px;
        font-size: 20px;
        font-weight: 600px;
    }

    .genreDetailsMovie {
        font-size: 15px;
    }
    
    .titleDetailsMovie {
        margin: 0;
        margin-top: 10px;
        font-size: 30px;
    }
    
    .ratingDetailsMovie {
        display: flex;
        font-size: 20px;
        gap: 30px;
        margin-top: 10px;
    }
    
    .imdbRating {
        width: 35px;
        height: 26px; 
        font-size: 15px;
        font-display: flex;
        align-items: center;
    }
    
    .runtime {
        width: 70px;
        height: 26px;
        font-size: 15px;
        font-display: flex;
        align-items: center;
    }
    
    .plot {
        width: 350px;
        height: 60px;
        font-size: 12px;
        margin-top: 10px;
    }
    
    .containerСategories {
        width: 350px;
        margin-top: 10px;
        font-weight: 500;
    }
    
    .allСategories {
        display: flex;
        font-weight: 600;
        font-size: 12px;
        color: #FFFFFF;
    }
    
    .description {
        width: 60px;
    }
    
    .detailsMovie {
        min-height: 24px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 13px;
        margin-left: 70px;
    }

}

@media screen and (max-width: 768px) {

    .ContainerDetailsMovie {
        width: 450px;
        height: 700px;
    }
    
    .poster {
        margin-top: 30px;
    }
    
    .movieDetailsPoster {
        width: 150px;
        height: 150px;
    }
    
    .BookmarkDetailsMovie {
        width: 150px; 
    }

    .imgBookmarkDetailsMovie {
        width: 20px;
        height: 20px;
    }
    
    .allContent {
        margin-top: 15px;
        margin-left: 30px;
        font-size: 20px;
        font-weight: 600px;
    }

    .genreDetailsMovie {
        font-size: 13px;
    }
    
    .titleDetailsMovie {
        margin: 0;
        margin-top: 10px;
        font-size: 27px;
    }
    
    .ratingDetailsMovie {
        display: flex;
        gap: 30px;
        margin-top: 10px;
    }
    
    .imdbRating {
        width: 33px;
        height: 24px; 
        font-size: 12px;
        font-display: flex;
        align-items: center;
    }
    
    .runtime {
        width: 67px;
        height: 24px;
        font-size: 12px;
        font-display: flex;
        align-items: center;
    }
    
    .plot {
        width: 250px;
        height: 55px;
        font-size: 9px;
        margin-top: 10px;
    }
    
    .containerСategories {
        width: 250px;
        margin-top: 10px;
        font-weight: 500;
    }
    
    .allСategories {
        display: flex;
        font-weight: 600;
        font-size: 12px;
    }
    
    .description {
        width: 45px;
    }
    
    .detailsMovie {
        display: flex;
        align-items: center;
        border-radius: 6px;
        font-weight: 500;
        font-size: 9px;
        margin-left: 80px;
    }
}

@media screen and (max-width: 576px) {

    .ContainerDetailsMovie {
        width: 320px;
        height: 700px;
    }
    
    .poster {
        margin-top: 20px;
    }
    
    .movieDetailsPoster {
        width: 80px;
        height: 80px;
    }
    
    .BookmarkDetailsMovie {
        width: 80px; 
        height: 25px;
    }

    .imgBookmarkDetailsMovie {
        width: 15px;
        height: 15px;
    }
    
    .allContent {
        margin-top: 15px;
        margin-left: 30px;
        font-size: 20px;
        font-weight: 600px;
    }

    .genreDetailsMovie {
        font-size: 9px;
    }
    
    .titleDetailsMovie {
        margin: 0;
        margin-top: 10px;
        font-size: 22px;
    }
    
    .ratingDetailsMovie {
        display: flex;
        gap: 22px;
        margin-top: 10px;
    }
    
    .imdbRating {
        width: 30px;
        height: 22px; 
        font-size: 10px;
        font-display: flex;
        align-items: center;
    }
    
    .runtime {
        width: 58px;
        height: 22px;
        font-size: 10px;
        font-display: flex;
        align-items: center;
    }
    
    .plot {
        width: 200px;
        height: 53px;
        font-size: 8px;
        margin-top: 10px;
    }
    
    .containerСategories {
        width: 200px;
        margin-top: 10px;
        font-weight: 500;
    }
    
    .allСategories {
        display: flex;
        font-weight: 600;
        font-size: 10px;
        color: #FFFFFF;
    }
    
    .description {
        width: 20px;
    }
    
    .detailsMovie {
        display: flex;
        align-items: center;
        border-radius: 6px;
        font-weight: 500;
        font-size: 7px;
        margin-left: 110px;
    }
}